ChronoSpacer2/.vs/ChronoSpacer2/v16/.suo
ChronoSpacer2/.vs/ChronoSpacer2/v16/Browse.VC.db
ChronoSpacer2/.vs/ChronoSpacer2/v16/Browse.VC.opendb
ChronoSpacer2/.vs/ChronoSpacer2/v16/ipch/AutoPCH/694b0f7d5a4ee15b/CHRONOSPACER2.ipch
ChronoSpacer2/.vs/ChronoSpacer2/v16/ipch/AutoPCH/ac967222c500ff0/CHRONOSPACER2.ipch
